<html>
  <body>
<div class="mainMapDiv">
  

  <button (click)="activButa(1)" style="margin:5px" id=togbuta1 type="button" class="btn btn-outline-info btn-round btn-sm active">All Boards</button>
  <button (click)="activButa(2)" style="margin:5px" id=togbuta2 type="button" class="btn btn-outline-success btn-sm btn-round">Available Boards</button>
  <button (click)="activButa(3)" style="margin:5px" id=togbuta3 type="button" class="btn btn-outline-danger btn-sm btn-round">Occupied Boards</button>
  
  <div class="container">

    <details>
      <summary>
        <div class="button">
          Show advanced sorting options
        </div>
        <div class="details-modal-overlay"></div>
      </summary>
      <div class="details-modal">
        <div class="details-modal-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
          </svg>
        </div>
        <div class="details-modal-title">
          <h1>Test</h1>
        </div>
        <div class="details-modal-content">
          <p>
            Buttons to sort by type of board and size of board will be here.
          </p>
        </div>
      </div>
    </details>
  </div>
    
<div class="full" id="map"> </div>

   <!--
      <div id="menuoverlay" class="after" style="margin-left: auto; margin-right: 0; float: right;">
        <div id="nav-icon2" class="after2" (click)="hamenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <br><br><br><br><br><br>
      
        <div class="op0" id="overlayop">
          <div class="sectionz section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>Our Boards</h2>
                </div>
                <div id="buttons">
                    <div class="row">
                        <div class="col-sm-5">
                          <div class="tim-title">
                            <h3 style="color: aqua;">Sort By:
                              <br/>
                              <small>Status</small>
                          </h3>
                          </div>
                            <button (click)="activButa(1)" style="margin:5px" id=togbuta1 type="button" class="btn btn-outline-info btn-round btn-sm active">All Boards</button>
                            <button (click)="activButa(2)" style="margin:5px" id=togbuta2 type="button" class="btn btn-outline-success btn-sm btn-round">Available Boards</button>
                            <button (click)="activButa(3)" style="margin:5px" id=togbuta3 type="button" class="btn btn-outline-danger btn-sm btn-round">Occupied Boards</button>
                        </div>
                
        
                  
                      <div style="margin-left: 15px;" class="col-sm-5">
                        <div class="tim-title">
                          <h3>
                            <br/>
                            <small>Type</small>
                        </h3>
                        </div>
                          <button (click)="activBut(1)" style="margin:5px" id=togbut1 type="button" class="btn btn-outline-default btn-sm btn-round active">All Types</button>
                          <button (click)="activBut(2)" style="margin:5px" id=togbut2 type="button" class="btn btn-outline-primary btn-sm btn-round">Hoarding Boards</button>
                          <button (click)="activBut(3)" style="margin:5px" id=togbut3 type="button" class="btn btn-outline-warning btn-sm btn-round">Unipole Boards</button>
                      </div>
                  </div>
                </div>
        
                <div class="tim-title">
                  <h3><small>Size (lxh)</small></h3>
              </div>
                <div class="row" style="padding-left: 20px">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Any
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            120 (10x20)
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" disabled="">
                            120 (20x10)
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                            Other
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                    
                    
                    </div>
                </div>
            </div>
        </div>
      
      
      </div>
    -->
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!--<script src="./assets/js/scripts.js"></script>-->

</body>
</html>

      

