<html>
  <body>
<div>

  <button (click)="activButa(1)" style="margin:5px" id=togbuta1 type="button" class="btn btn-outline-info btn-round btn-sm active">All Boards</button>
                            <button (click)="activButa(2)" style="margin:5px" id=togbuta2 type="button" class="btn btn-outline-success btn-sm btn-round">Available Boards</button>
                            <button (click)="activButa(3)" style="margin:5px" id=togbuta3 type="button" class="btn btn-outline-danger btn-sm btn-round">Occupied Boards</button>
                            
  
<div class="full" id="map"> </div>

    <div id="menuoverlay" class="after" style="margin-left: auto; margin-right: 0; float: right;">
        <div id="nav-icon2" class="after2" (click)="hamenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <br><br><br><br><br><br>
      
        <div class="op0" id="overlayop">
          <div class="sectionz section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>Our Boards</h2>
                </div>
                <div id="buttons">
                    <div class="row">
                        <div class="col-sm-5">
                          <div class="tim-title">
                            <h3 style="color: aqua;">Sort By:
                              <br/>
                              <small>Status</small>
                          </h3>
                          </div>
                            <button (click)="activButa(1)" style="margin:5px" id=togbuta1 type="button" class="btn btn-outline-info btn-round btn-sm active">All Boards</button>
                            <button (click)="activButa(2)" style="margin:5px" id=togbuta2 type="button" class="btn btn-outline-success btn-sm btn-round">Available Boards</button>
                            <button (click)="activButa(3)" style="margin:5px" id=togbuta3 type="button" class="btn btn-outline-danger btn-sm btn-round">Occupied Boards</button>
                        </div>
                
        
                  
                      <div style="margin-left: 15px;" class="col-sm-5">
                        <div class="tim-title">
                          <h3>
                            <br/>
                            <small>Type</small>
                        </h3>
                        </div>
                          <button (click)="activBut(1)" style="margin:5px" id=togbut1 type="button" class="btn btn-outline-default btn-sm btn-round active">All Types</button>
                          <button (click)="activBut(2)" style="margin:5px" id=togbut2 type="button" class="btn btn-outline-primary btn-sm btn-round">Hoarding Boards</button>
                          <button (click)="activBut(3)" style="margin:5px" id=togbut3 type="button" class="btn btn-outline-warning btn-sm btn-round">Unipole Boards</button>
                      </div>
                  </div>
                </div>
        
                <div class="tim-title">
                  <h3><small>Size (lxh)</small></h3>
              </div>
                <div class="row" style="padding-left: 20px">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Any
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            120 (10x20)
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" disabled="">
                            120 (20x10)
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                            Other
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                    
                    
                    </div>
                </div>
            </div>
        </div>
      
      
      </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!--<script src="./assets/js/scripts.js"></script>-->

</body>
</html>

      

