.it {
    color:aqua
}

mat-paginator
{
    background-color: rgb(17,23,26);
    color: white
}

.example-card {
    margin-bottom: 1px;
    background-color: rgb(17,23,26);
    color: aqua;
  }

mat-card{
    height: 215px;
    width: 600px;
    text-align: center;
    justify-content: center;
}

mat-card-content{
    color: white;
}

@media (max-width: 600px) {
    mat-card {
      min-width:200px;
    }
  }

  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 175px;
    justify-content:right;
  }

  