.it {
    color:aqua
}

mat-paginator
{
    background-color: rgb(17,23,26);
    color: white
}

.example-card {
    margin-bottom: 1px;
    background-color: rgb(17,23,26);
    color: aqua;
  }

mat-card{
    height: 200px;
    width: 1200px;
}

mat-card-content{
    color: white;
}
  