<h2 style="margin:auto; text-align: center;">Entire Board Network</h2>

<br>

<mat-paginator [length]="ANL.length" pageSize=6
               (page)="getPaginatorData($event)" [pageSizeOptions]="[6, 12, 24]"
               showFirstLastButtons="false">
</mat-paginator>
<br>
<mat-grid-list [cols]="breakpoint" rowHeight="215px" gutterSize="10px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let paper of (ANL | 
    slice: lowValue : highValue)">

    <mat-card class="example-card" (click)="onCardClick(paper.Name)">
          
          <img mat-card-image src="https://drive.google.com/uc?export=view&id=18AKoTFfZ6HgDg5YSmATXBhRhgVUVvwnw">
          
          <mat-card-content style="color:aqua">
            {{paper.Name}}
          </mat-card-content>
        
      </mat-card>

    </mat-grid-tile>
</mat-grid-list>
