<div class="dialogbox">
  <div class="cartbutton">
    <span>
      <button type="button" class="btn btn-outline-info" (click)="opened=!opened">Your List - ({{this.myListLen}})</button>
    </span>
  </div>
<mat-sidenav-container>

    <mat-sidenav mode="side" hasBackdrop="true" [(opened)]="opened">
      <h4>My List</h4>
      <p>{{this.myListText}}</p>
      <tbody>
        <tr *ngFor="let employee of this.myList ">
          <th scope="row">{{employee}}</th>
        </tr>
      </tbody>
      <br>
      <br>
      <button (click)="clearMyList()">Clear MyList</button>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <h3><b class="dialoghead">{{data.name}}</b></h3>
      <p>Info on Board</p>
      <br>
      <p>Coknsjnsmjncdsjknsjknsjdcsncd</p>
      <br>
      <button (click)="addToList(data.name)">Add To MyList</button>
      <button (click)="removeFromList(data.name)">Remove From MyList</button>
      <fa-icon [icon]="faCoffee"></fa-icon>
    </mat-sidenav-content>

  </mat-sidenav-container>
  </div>