<div class="dialogbox">
  <div class="cartbutton">
    <span>
      <button type="button" class="btn btn-outline-info" (click)="opened=!opened"> <fa-icon [icon]="faListAlt"></fa-icon> Your List - ({{this.myListLen}})</button>
    </span>
  </div>
<mat-sidenav-container>

    <mat-sidenav mode="side" hasBackdrop="true" [(opened)]="opened">
      <h4>My List</h4>
      <p>{{this.myListText}}</p>
      <tbody>
        <tr *ngFor="let employee of this.myList ">
          <th scope="row">{{employee}}</th>
        </tr>
      </tbody>
      <br>
      <br>
      <button (click)="clearMyList()" style="margin:5px" type="button" class="btn btn-outline-light btn-sm btn-round"> <fa-icon [icon]="faEraser"></fa-icon> Clear List</button>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <h3><b class="dialoghead">{{data.name}}</b></h3>
      <p>Info on Board</p>
      <br>
      <p>Coknsjnsmjncdsjknsjknsjdcsncd</p>
      <br>

      <button (click)="addToList(data.name)" style="margin:5px" type="button" class="btn btn-outline-success btn-sm btn-round"> <fa-icon [icon]="faPlusSquare"></fa-icon> Add To List </button>
      <button (click)="removeFromList(data.name)" style="margin:5px" type="button" class="btn btn-outline-danger btn-sm btn-round"> <fa-icon [icon]="faMinusSquare"></fa-icon> Remove From List </button>
      
    </mat-sidenav-content>

  </mat-sidenav-container>
  </div>